*{
    /*清除默认格式*/
    margin: 0;
    padding: 0;
}
.todo-main{
    width: 700px;
    height: auto;
    /*border: 1px solid gray;*/
    margin: 20px auto;
}
.add-todo{
    width: 60%;
    margin: 10px auto;
}
input{
    font-size: 16px;
}
.todo-text{
    width: 75%;
    height: 30px;
    border: 1px solid green;
    /*font-size: 16px;*/
}
.todo-text-submit{
    width: 20%;
    height: 30px;
    background-color: #5a9672;
}
.todo-task{
    width: 80%;
    /*height: 200px;*/
    /*margin: 10px auto;*/
}
.finished-task{
    width: 80%;
    height: 200px;
    /*margin: 10px auto;*/

}

.clear-todolist, .clear-finished-list{
    margin: 10px auto;
}
button{
    width: 80px;
    height: 30px;
    font-size: 16px;
    background-color: steelblue;
}